body, html{
    background: #21232A;
    color: #fff;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.3rem;
    padding: 70px;
}

button{
    padding:10px;
    background: #93a3dc;
    border: none;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    -ms-border-radius:4px;
    -o-border-radius:4px;
    color: #fff;
    margin: 4px;

}
button:hover{
    opacity:.8;
    
}